.nav-link {
  cursor:pointer;
}

.tag-pill{
  cursor:pointer;
}

.tab-button{
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
} 

.pull-right{
  float: right;
}